*
!.config
!.config/emacs
!.config/sway
!.config/waybar
!.config/wldash
!.config/nu
!.config/nyxt
!.config/terminology
!.config/terminology/background
!.config/terminology/config
!.config/terminology/themes

!.local
!.local/share
!.local/share/konsole
!.local/share/konsole/*


!.config/emacs/
!.config/emacs/init.el
!.config/starship.toml

!.config/sway/*
!.config/waybar/*
!.config/wldash/*
!.config/konsolerc
!.config/nu/*
!.config/nyxt/*
!.config/terminology/background/*
!.config/terminology/config/*
!.config/terminology/themes/*


!.gitignore
!.zshrc
