*
!.config
!.config/emacs
!.config/sway
!.config/waybar
!.config/wldash
!.config/nu
!.config/nyxt
!.config/terminology
!.config/terminology/background
!.config/terminology/config
!.config/terminology/themes

!.local
!.local/share
!.local/share/konsole
!.local/share/konsole/*


!.config/emacs/
!.config/emacs/init.el
!.config/starship.toml

!.config/sway/*
!.config/waybar/*
!.config/wldash/*
!.config/konsolerc
!.config/nu/*
!.config/nyxt/*
!.config/terminology/background/*
!.config/terminology/config/*
!.config/terminology/themes/*


!.gitignore
!.zshrc

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el